/*!
 * Extra CSS for framwork in addition to Bootstrap
 */

.back-to-top {
    position: fixed;
    bottom: 75px;
    right: 25px;
    display: none;
}

.back-to-bottom {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}


.bump-up {
	margin-top: -1.25rem;
}

 .cond-fn {
 	width: 30%;
 }

.btn-space {
    margin-top: .25rem;
 	margin-bottom: .25rem;
 }

.btn-big-space {
    margin-top: .75rem;
    margin-bottom: .75rem;
 }



.big-checkbox {margin-top: 5px; width: 25px; height: 25px; padding: 0px;}

.admin {
	font-weight: bold;
	color: red;
}

abbr[title] {
	text-decoration: none;
}

.hidden {
	display: none;
}

.small-field {
	font-size: 0.85rem;
	height: 2.35rem;
}

.smaller-field {
	font-size: 0.75rem;
	height: 2.35rem;
}

.bold-input {
	font-weight: bold;
}

.spacer {
	padding-bottom: 2rem;
}

.spacer-half {
	padding-bottom: 1rem;
}

.spacer-left {
	margin-left: 0.5rem;
}

.underline {
	text-decoration: underline;
}

/*!
 * The below fixes the weird autofill issue where the labels wouldn't float properly
 */

.form-label-group input:not(:placeholder-shown) ~ label {
        padding-top: .25rem;
        padding-bottom: .25rem;
        font-size: 12px;
        color: #777;
    }

.form-label-group input:-webkit-autofill ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}